{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="header">
  <div class="logo">
    <div style="text-align: center;"><a href="/"><img src="{% static 'medsol.png' %}" loading="lazy" /></a></div>
    <h1>Hi, I'm Cassandra. How can I help you?</h1>
  </div>
</div>

<div class="main">
  <!-- <h2 style="font-size: 24px;color: #888;text-align: center;font-weight: 400;">An experiment using AI to talk with clinicians</h2> -->

  <form action="/ask" method="post">
    {% csrf_token %}
    <textarea name="question" style="background-color: #dcdcdc;" id="question">{{ default_question }}</textarea>

    <div class="buttons" {% if answer %}style="display: none"{% endif %}>
      <button type="submit" id="ask-button">Ask</button>
      <button id="lucky-button" class="hidden showing" style="background: #444; color: #dcdcdc;" data></button>
    </div>
  </form>

  {% if answer %}
    <p id="answer-container" class="hidden showing"><strong>Answer:</strong> <span id="answer">{{ answer }}</span><div class="buttonsagain"><button id="ask-another-button" style="display: block;">Ask another question</button></div><div id="nolikey" class="credits hidden showing" style="margin-top: 5px;color: #b6b18a;">Don't like my answer? <a onclick="location.href=this.href+'&body=This response was not good - '+window.location.href;return false;" href="mailto:chris.teso@medicalsolutions.com?subject=AI Response">Let me know</a>.</div></p>
  {% else %}
    <p id="answer-container" class="hidden"><strong>Answer:</strong> <span id="answer"></span><div class="buttonsagain"><button id="ask-another-button" style="display: none;">Ask another question</button></div><div id="nolikey" class="credits hidden" style="margin-top: 5px;color: #b6b18a;">Don't like my answer? <a onclick="location.href=this.href+'&body=This response was not good - '+window.location.href;return false;" href="mailto:chris.teso@medicalsolutions.com?subject=AI Response">Chat with a recruiter</a>.</div></p>
  {% endif %}

  <audio id="audio" controls autoplay>
    <source src="{{ audio_src_url }}" type="audio/wav">
  </audio>
</div>

<script>
  $(document).ready(function() {
    function randomInteger(min, max) {
      return Math.floor(Math.random() * (max - min + 1)) + min;
    }

    var showText = function(target, message, index) {
      if (index < message.length) {
        var interval = randomInteger(20, 60);
        $(target).append(message[index++]);
        setTimeout(function () { showText(target, message, index); }, interval);
      } else {
        history.pushState({}, null, "/question/" + window.newQuestionId);
        $("#ask-another-button").css("display", "block");
      }
    }

    $("#lucky-button").click(function(e) {
      var options = [
      "How do I become a Traveler with Medical Solutions?",
    "Am I obligated to travel with Medical Solutions if I fill out an application?",
    "Is there a fee to become a Traveler for Medical Solutions?",
    "Where can I find travel healthcare jobs and what jobs do you offer?",
    "How long are travel healthcare assignments?",
    "What about state licensing?",
    "What happens after my assignment is over?",
    "What are the benefits of traveling vs a permanent position?",
    "What do I do if I get injured on the job?",
    "How much will I be paid?"
      ],
          random = ~~(Math.random() * options.length);

      $("textarea").val(options[random]);
    });

    $("textarea").bind('input propertychange', function(e) {
      $(".buttons").show();
      document.getElementById('answer-container').classList.remove("showing");
      document.getElementById('nolikey').classList.remove("showing");
      if (document.getElementById("question").value != "") {
        document.getElementById('lucky-button').classList.remove("showing");
      } else {
        document.getElementById('lucky-button').classList.add("showing");
      }
      clearTimeout(window.answerShower);
      document.getElementById('audio').pause();
      $("#ask-another-button").css("display", "none");
    });

    $("#ask-another-button").click(function(e) {
      $(".buttons").show();
      document.getElementById('answer-container').classList.remove("showing");
      document.getElementById('nolikey').classList.remove("showing");
      clearTimeout(window.answerShower);
      document.getElementById('audio').pause();
      $("#ask-another-button").css("display", "none");
      $("textarea").select();
    });

    $("form").submit(function(e) {
      if (document.getElementById("question").value == "") {
        alert("Please ask a question!");
        e.preventDefault();
        return false;
      }

      let askButton = document.getElementById("ask-button");
      askButton.innerHTML = "<img src=\"/static/loading.gif\" width=\"12\"/> Asking...";
      askButton.disabled = true;

      $.ajax({
        type: 'POST',
        url: '/ask',
        data: $("form").serialize(),
        datatype: "json",
        encode: true
      }).done(function(data) {
        $(".buttons").hide();

        var audio = document.getElementById('audio');
        audio.src = data.audio_src_url;

        var answer = document.getElementById('answer');
        answer.innerHTML = "";
        document.getElementById('answer-container').classList.add("showing");
        document.getElementById('nolikey').classList.add("showing");
        // document.getElementById('answer-container').classList.add("showing");

        window.answerShower = setTimeout(function() {
          showText("#answer", data.answer, 0);
        }, 1200);

        audio.volume = 0.3;
        audio.play();

        askButton.innerHTML = "Ask";
        askButton.disabled = false;

        window.newQuestionId = data.id;
      });

      e.preventDefault();
      return false;
    });
  });
</script>

<footer>
  <div style="text-align: center;"><img src="{% static 'mlab.png' %}" style="width:80px" loading="lazy" /></div>
  <p class="credits">An MLab experiment using AI to talk with clinicians using the <a href="https://openai.com/api/" target="_blank">OpenAI API</a> and a model trained on <a href="https://www.medicalsolutions.com/travel-nursing-resources/faqs/" target="_blank">Medical Solutions FAQs</a></p>
</footer>

{% endblock %}
